<div class="register-login-container">
    <h1 class="register-login-title">User Register</h1>

    <form action="/users/register" method="post">
        <label for="first_name" class="label-user">First Name</label>
        <input type="text" name="first_name" id="first_name" required class="input-user">
        <label for="last_name" class="label-user">Last Name</label>
        <input type="text" name="last_name" id="last_name" required class="input-user">
        <label for="email" class="label-user">Email</label>
        <input type="text" name="email" id="email" required class="input-user">
        <label for="password" class="label-user">Password</label>
        <input type="password" name="password" id="password" required class="input-user">
        <input type="submit" value="Register" class="btn-register-login">
    </form>
</div>